<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coord</key>
		<string>{31.695194,119.802028}</string>
		<key>nid</key>
		<string>0</string>
		<key>title</key>
		<string>花博园北大门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.694188,119.803474}</string>
		<key>nid</key>
		<string>3</string>
		<key>title</key>
		<string>雅集园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.691145,119.806938}</string>
		<key>nid</key>
		<string>6</string>
		<key>title</key>
		<string>自然馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.690022,119.802889}</string>
		<key>nid</key>
		<string>9</string>
		<key>title</key>
		<string>艺术馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.687574,119.800033}</string>
		<key>nid</key>
		<string>12</string>
		<key>title</key>
		<string>科技馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.683064,119.79912}</string>
		<key>nid</key>
		<string>15</string>
		<key>title</key>
		<string>常州园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.682299,119.798361}</string>
		<key>nid</key>
		<string>18</string>
		<key>title</key>
		<string>主展馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.685101,119.798692}</string>
		<key>nid</key>
		<string>21</string>
		<key>title</key>
		<string>国际园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.690794,119.798532}</string>
		<key>nid</key>
		<string>24</string>
		<key>title</key>
		<string>地方园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.689824,119.801198}</string>
		<key>nid</key>
		<string>27</string>
		<key>title</key>
		<string>湿地展区</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.688624,119.801781}</string>
		<key>nid</key>
		<string>30</string>
		<key>title</key>
		<string>水上大舞台</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.691568,119.804698}</string>
		<key>nid</key>
		<string>33</string>
		<key>title</key>
		<string>诗意江南内景</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.691884,119.80424}</string>
		<key>nid</key>
		<string>36</string>
		<key>title</key>
		<string>诗意江南大门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.693061,119.807494}</string>
		<key>nid</key>
		<string>39</string>
		<key>title</key>
		<string>欢乐黄鸭岛</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.693678,119.808182}</string>
		<key>nid</key>
		<string>42</string>
		<key>title</key>
		<string>叠水花田</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.69303,119.805553}</string>
		<key>nid</key>
		<string>45</string>
		<key>title</key>
		<string>映月桥</string>
	</dict>
</array>
</plist>
