<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coord</key>
		<string>{31.702839,119.928263}</string>
		<key>nid</key>
		<string>0</string>
		<key>title</key>
		<string>南大门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703047,119.928335}</string>
		<key>nid</key>
		<string>3</string>
		<key>title</key>
		<string>祭台</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703217,119.927731}</string>
		<key>nid</key>
		<string>6</string>
		<key>title</key>
		<string>霸王狩猎区</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703814,119.92804}</string>
		<key>nid</key>
		<string>9</string>
		<key>title</key>
		<string>春秋版图</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703969,119.928379}</string>
		<key>nid</key>
		<string>12</string>
		<key>title</key>
		<string>纵横家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704245,119.928204}</string>
		<key>nid</key>
		<string>15</string>
		<key>title</key>
		<string>阴阳家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704679,119.928659}</string>
		<key>nid</key>
		<string>18</string>
		<key>title</key>
		<string>杂家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704851,119.928644}</string>
		<key>nid</key>
		<string>21</string>
		<key>title</key>
		<string>法家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704855,119.928972}</string>
		<key>nid</key>
		<string>24</string>
		<key>title</key>
		<string>小说家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705102,119.929058}</string>
		<key>nid</key>
		<string>27</string>
		<key>title</key>
		<string>名家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705644,119.928168}</string>
		<key>nid</key>
		<string>30</string>
		<key>title</key>
		<string>百灵水世界</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705449,119.92751}</string>
		<key>nid</key>
		<string>33</string>
		<key>title</key>
		<string>市井商街</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.706308,119.925946}</string>
		<key>nid</key>
		<string>36</string>
		<key>title</key>
		<string>遗址广场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.706607,119.926283}</string>
		<key>nid</key>
		<string>39</string>
		<key>title</key>
		<string>淹城传奇</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.706861,119.925575}</string>
		<key>nid</key>
		<string>42</string>
		<key>title</key>
		<string>空中脚踏车</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.706926,119.92553}</string>
		<key>nid</key>
		<string>45</string>
		<key>title</key>
		<string>转转灯笼</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.70706,119.925603}</string>
		<key>nid</key>
		<string>48</string>
		<key>title</key>
		<string>小战船</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.707249,119.925734}</string>
		<key>nid</key>
		<string>51</string>
		<key>title</key>
		<string>八卦迷旋</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.707149,119.92592}</string>
		<key>nid</key>
		<string>54</string>
		<key>title</key>
		<string>欢乐小马车</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.707323,119.925342}</string>
		<key>nid</key>
		<string>57</string>
		<key>title</key>
		<string>弹跳塔</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.70719,119.925225}</string>
		<key>nid</key>
		<string>60</string>
		<key>title</key>
		<string>转杯派对</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.70713,119.925088}</string>
		<key>nid</key>
		<string>63</string>
		<key>title</key>
		<string>泡泡球战场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.707,119.925147}</string>
		<key>nid</key>
		<string>66</string>
		<key>title</key>
		<string>春秋水战</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.706432,119.925433}</string>
		<key>nid</key>
		<string>69</string>
		<key>title</key>
		<string>春秋大舞台</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705874,119.925025}</string>
		<key>nid</key>
		<string>72</string>
		<key>title</key>
		<string>遗址东门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704381,119.922711}</string>
		<key>nid</key>
		<string>75</string>
		<key>title</key>
		<string>奄民故里</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702851,119.922094}</string>
		<key>nid</key>
		<string>78</string>
		<key>title</key>
		<string>古韵茶房</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703211,119.919009}</string>
		<key>nid</key>
		<string>81</string>
		<key>title</key>
		<string>汲水码头</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704638,119.917378}</string>
		<key>nid</key>
		<string>84</string>
		<key>title</key>
		<string>淹城神龟</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704649,119.917313}</string>
		<key>nid</key>
		<string>87</string>
		<key>title</key>
		<string>头墩</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704973,119.918456}</string>
		<key>nid</key>
		<string>90</string>
		<key>title</key>
		<string>关雎井</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704508,119.918629}</string>
		<key>nid</key>
		<string>93</string>
		<key>title</key>
		<string>孙武草芦</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704482,119.918369}</string>
		<key>nid</key>
		<string>96</string>
		<key>title</key>
		<string>月老树</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705196,119.919671}</string>
		<key>nid</key>
		<string>99</string>
		<key>title</key>
		<string>淹君殿遗址</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.705379,119.919763}</string>
		<key>nid</key>
		<string>102</string>
		<key>title</key>
		<string>竹木井</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.707457,119.92521}</string>
		<key>nid</key>
		<string>105</string>
		<key>title</key>
		<string>孙武点将台</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708176,119.924223}</string>
		<key>nid</key>
		<string>108</string>
		<key>title</key>
		<string>水军训练营</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708173,119.924082}</string>
		<key>nid</key>
		<string>111</string>
		<key>title</key>
		<string>吴楚决战</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708619,119.923748}</string>
		<key>nid</key>
		<string>114</string>
		<key>title</key>
		<string>梦回春秋</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708711,119.923997}</string>
		<key>nid</key>
		<string>117</string>
		<key>title</key>
		<string>九龙问鼎</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708989,119.92386}</string>
		<key>nid</key>
		<string>120</string>
		<key>title</key>
		<string>歌舞生平</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709148,119.924026}</string>
		<key>nid</key>
		<string>123</string>
		<key>title</key>
		<string>铁血春秋</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709884,119.924149}</string>
		<key>nid</key>
		<string>126</string>
		<key>title</key>
		<string>霹雳风火轮</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709882,119.924906}</string>
		<key>nid</key>
		<string>129</string>
		<key>title</key>
		<string>狂野巅峰</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709247,119.92501}</string>
		<key>nid</key>
		<string>132</string>
		<key>title</key>
		<string>昭关漂流</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.710038,119.92581}</string>
		<key>nid</key>
		<string>135</string>
		<key>title</key>
		<string>战神狂舞</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.710039,119.926254}</string>
		<key>nid</key>
		<string>138</string>
		<key>title</key>
		<string>碰碰对抗</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.70984,119.92619}</string>
		<key>nid</key>
		<string>141</string>
		<key>title</key>
		<string>疯狂罗盘</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709854,119.926788}</string>
		<key>nid</key>
		<string>144</string>
		<key>title</key>
		<string>春秋餐厅</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709886,119.928147}</string>
		<key>nid</key>
		<string>147</string>
		<key>title</key>
		<string>非洲激浪</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.710035,119.928978}</string>
		<key>nid</key>
		<string>150</string>
		<key>title</key>
		<string>五霸鬼屋</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709361,119.928887}</string>
		<key>nid</key>
		<string>153</string>
		<key>title</key>
		<string>极速飞龙</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709229,119.928515}</string>
		<key>nid</key>
		<string>156</string>
		<key>title</key>
		<string>瞭望塔</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.709165,119.9281}</string>
		<key>nid</key>
		<string>159</string>
		<key>title</key>
		<string>水上竞技</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.70878,119.927316}</string>
		<key>nid</key>
		<string>162</string>
		<key>title</key>
		<string>淹君殿</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708182,119.926888}</string>
		<key>nid</key>
		<string>165</string>
		<key>title</key>
		<string>编钟乐宫</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708299,119.926585}</string>
		<key>nid</key>
		<string>168</string>
		<key>title</key>
		<string>春秋王宫</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.708615,119.926372}</string>
		<key>nid</key>
		<string>171</string>
		<key>title</key>
		<string>西施迷宫</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704994,119.927462}</string>
		<key>nid</key>
		<string>174</string>
		<key>title</key>
		<string>墨家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704811,119.927898}</string>
		<key>nid</key>
		<string>177</string>
		<key>title</key>
		<string>兵家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704682,119.927887}</string>
		<key>nid</key>
		<string>180</string>
		<key>title</key>
		<string>医家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704735,119.928169}</string>
		<key>nid</key>
		<string>183</string>
		<key>title</key>
		<string>儒家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704173,119.92785}</string>
		<key>nid</key>
		<string>186</string>
		<key>title</key>
		<string>农家</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703527,119.928582}</string>
		<key>nid</key>
		<string>189</string>
		<key>title</key>
		<string>烟雨春秋</string>
	</dict>
</array>
</plist>
