<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coord</key>
		<string>{31.476135,120.062934}</string>
		<key>nid</key>
		<string>0</string>
		<key>title</key>
		<string>蓼莪源</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.476204,120.063009}</string>
		<key>nid</key>
		<string>3</string>
		<key>title</key>
		<string>孝道之门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.476806,120.064225}</string>
		<key>nid</key>
		<string>6</string>
		<key>title</key>
		<string>思恩广场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.476881,120.065148}</string>
		<key>nid</key>
		<string>9</string>
		<key>title</key>
		<string>孝子牌坊</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.477168,120.066825}</string>
		<key>nid</key>
		<string>12</string>
		<key>title</key>
		<string>兴祖庙堂</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.47812,120.064684}</string>
		<key>nid</key>
		<string>15</string>
		<key>title</key>
		<string>静心池</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.478414,120.065254}</string>
		<key>nid</key>
		<string>18</string>
		<key>title</key>
		<string>孝子长廊</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.47892,120.065128}</string>
		<key>nid</key>
		<string>21</string>
		<key>title</key>
		<string>菩提大道</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.480299,120.066564}</string>
		<key>nid</key>
		<string>24</string>
		<key>title</key>
		<string>如意潭</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.480507,120.068872}</string>
		<key>nid</key>
		<string>27</string>
		<key>title</key>
		<string>江南石窟</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.481402,120.067476}</string>
		<key>nid</key>
		<string>30</string>
		<key>title</key>
		<string>曲水流觞</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.481673,120.066975}</string>
		<key>nid</key>
		<string>33</string>
		<key>title</key>
		<string>正法明大殿</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.479638,120.065137}</string>
		<key>nid</key>
		<string>36</string>
		<key>title</key>
		<string>空间剧场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.479207,120.064888}</string>
		<key>nid</key>
		<string>39</string>
		<key>title</key>
		<string>博物馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.478931,120.064633}</string>
		<key>nid</key>
		<string>42</string>
		<key>title</key>
		<string>光阴的故事</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.476765,120.063306}</string>
		<key>nid</key>
		<string>45</string>
		<key>title</key>
		<string>普光酒店</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.475837,120.063227}</string>
		<key>nid</key>
		<string>48</string>
		<key>title</key>
		<string>普光商街</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.474992,120.062604}</string>
		<key>nid</key>
		<string>51</string>
		<key>title</key>
		<string>普光山庄</string>
	</dict>
</array>
</plist>
