<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coord</key>
		<string>{31.831326,120.126574}</string>
		<key>nid</key>
		<string>0</string>
		<key>title</key>
		<string>牟家村(入口)</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.839761,120.124671}</string>
		<key>nid</key>
		<string>3</string>
		<key>title</key>
		<string>牟家生态园(大门)</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.838701,120.129125}</string>
		<key>nid</key>
		<string>6</string>
		<key>title</key>
		<string>牟家村养老院</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.838423,120.128387}</string>
		<key>nid</key>
		<string>9</string>
		<key>title</key>
		<string>牟家文体公园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.840083,120.130637}</string>
		<key>nid</key>
		<string>12</string>
		<key>title</key>
		<string>青田马舍</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.839912,120.130398}</string>
		<key>nid</key>
		<string>15</string>
		<key>title</key>
		<string>牟家生态园瓜果采摘园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.840027,120.132655}</string>
		<key>nid</key>
		<string>18</string>
		<key>title</key>
		<string>牟家村观光园(大门)</string>
	</dict>
</array>
</plist>
