<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coord</key>
		<string>{31.699994,119.924021}</string>
		<key>nid</key>
		<string>0</string>
		<key>title</key>
		<string>动物园停车场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.699653,119.923107}</string>
		<key>nid</key>
		<string>3</string>
		<key>title</key>
		<string>游乐场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700126,119.923235}</string>
		<key>nid</key>
		<string>6</string>
		<key>title</key>
		<string>长颈鹿美食广场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.699924,119.922582}</string>
		<key>nid</key>
		<string>9</string>
		<key>title</key>
		<string>自驾游入口</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700012,119.921502}</string>
		<key>nid</key>
		<string>12</string>
		<key>title</key>
		<string>非洲草原区入口</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701347,119.915956}</string>
		<key>nid</key>
		<string>15</string>
		<key>title</key>
		<string>高原沙漠区(入口)</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701941,119.914999}</string>
		<key>nid</key>
		<string>18</string>
		<key>title</key>
		<string>沙漠高原区</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703185,119.914126}</string>
		<key>nid</key>
		<string>21</string>
		<key>title</key>
		<string>南美驼兽区(入口)</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703077,119.912918}</string>
		<key>nid</key>
		<string>24</string>
		<key>title</key>
		<string>欧亚大陆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702269,119.912162}</string>
		<key>nid</key>
		<string>27</string>
		<key>title</key>
		<string>非洲部落</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701886,119.912303}</string>
		<key>nid</key>
		<string>30</string>
		<key>title</key>
		<string>鹿苑风情</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700731,119.911995}</string>
		<key>nid</key>
		<string>33</string>
		<key>title</key>
		<string>网络神兽</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.699983,119.915687}</string>
		<key>nid</key>
		<string>36</string>
		<key>title</key>
		<string>猛兽区</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.69911,119.917344}</string>
		<key>nid</key>
		<string>39</string>
		<key>title</key>
		<string>东北虎</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.699019,119.922712}</string>
		<key>nid</key>
		<string>42</string>
		<key>title</key>
		<string>动物园南门</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700968,119.922374}</string>
		<key>nid</key>
		<string>45</string>
		<key>title</key>
		<string>非洲草原区(内部)</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701543,119.922436}</string>
		<key>nid</key>
		<string>48</string>
		<key>title</key>
		<string>舍禽馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702535,119.923577}</string>
		<key>nid</key>
		<string>51</string>
		<key>title</key>
		<string>爱宝乐园</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703142,119.92372}</string>
		<key>nid</key>
		<string>54</string>
		<key>title</key>
		<string>鸟类长廊</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704302,119.92573}</string>
		<key>nid</key>
		<string>57</string>
		<key>title</key>
		<string>水上碰碰船</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.704039,119.926204}</string>
		<key>nid</key>
		<string>60</string>
		<key>title</key>
		<string>猩猩馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703715,119.926201}</string>
		<key>nid</key>
		<string>63</string>
		<key>title</key>
		<string>猛兽表演馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703397,119.926796}</string>
		<key>nid</key>
		<string>66</string>
		<key>title</key>
		<string>白虎</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.703173,119.925037}</string>
		<key>nid</key>
		<string>69</string>
		<key>title</key>
		<string>熊猫馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702757,119.924778}</string>
		<key>nid</key>
		<string>72</string>
		<key>title</key>
		<string>火烈鸟</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701879,119.924781}</string>
		<key>nid</key>
		<string>75</string>
		<key>title</key>
		<string>森林大马戏</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.701674,119.926277}</string>
		<key>nid</key>
		<string>78</string>
		<key>title</key>
		<string>两栖科普馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702439,119.927032}</string>
		<key>nid</key>
		<string>81</string>
		<key>title</key>
		<string>动物园入口广场</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700641,119.922864}</string>
		<key>nid</key>
		<string>84</string>
		<key>title</key>
		<string>火车站</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700789,119.92295}</string>
		<key>nid</key>
		<string>87</string>
		<key>title</key>
		<string>大象馆</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.700078,119.925117}</string>
		<key>nid</key>
		<string>90</string>
		<key>title</key>
		<string>游船码头</string>
	</dict>
	<dict>
		<key>coord</key>
		<string>{31.702206,119.92748}</string>
		<key>nid</key>
		<string>93</string>
		<key>title</key>
		<string>动物园大门(东门)</string>
	</dict>
</array>
</plist>
